<table>
    <tr>
        <td class="readings-time" colspan="2">{{ time }}</td>
    </tr>
    <tr>
        <td>Temperature:</td>
        <td>{{ temp }}&deg;C</td>
    </tr>
    <tr>
        <td>Humidity:</td>
        <td>{{ humi }}%</td>
    </tr>
    <tr>
        <td>Pressure:</td>
        <td>{{ pres }}&nbsp;mBar</td>
    </tr>
    <tr>
        <td>Light:</td>
        <td>{{ lux }} lux</td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>      
    <tr>
        <td>Oxidising:</td>
        <td>{{ oxi }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <td>Reducing:</td>
        <td>{{ red }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <td>NH<sub>3</sub>:</td>
        <td>{{ nh3 }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>      
</table>