<table>
    <tr>
        <td class="readings-time" colspan="2">{{ time }}</td>
    </tr>
    <tr>
        <hr>
    </tr>    
    <tr>
        <td><span class="color-red">▣ Temperature:</span></td>
        <td>{{ temp }}&deg;C</td>
    </tr>
    <tr>
        <td><span class="color-blue">▣ Humidity:</span></td>
        <td>{{ humi }}%</td>
    </tr>
    <tr>
        <td><span class="color-green">▣ Pressure:</span></td>
        <td>{{ pres }}&nbsp;mBar</td>
    </tr>
    <tr>
        <td><span class="color-yellow">▣ Light:</span></td>
        <td>{{ lux }} lux</td>
    </tr>
    <tr>
        <td><hr></td>
    </tr>    
    <tr>
        <td><span class="color-violet">▣ Oxidising:</span></td>
        <td>{{ oxi }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <td><span class="color-darkorange">▣ Reducing:</span></td>
        <td>{{ red }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <td><span class="color-cyan">▣ NH<sub>3</sub>:</span></td>
        <td>{{ nh3 }}&nbsp;k&Omega;</td>
    </tr>
    <tr>
        <hr>
    </tr>
    <tr>        
        <td><span class="color-brown100">▣ &gt;0.3um:</span></td>
        <td>{{ pm03 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
    <tr>
        <td><span class="color-brown90">▣ &gt;0.5um:</span></td>
        <td>{{ pm05 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
    <tr>
        <td><span class="color-brown80">▣ &gt;1.0um:</span></td>
        <td>{{ pm10 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
    <tr>
        <td><span class="color-brown70">▣  &gt;2.5um:</span></td>
        <td>{{ pm25 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
    <tr>
        <td><span class="color-brown60">▣ &gt;5.0um:</span></td>
        <td>{{ pm50 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
    <tr>
        <td><span class="color-brown50">▣ &gt;10.0um:</span></td>
        <td>{{ pm100 }}&nbsp;/&nbsp;0.1l</td>
    </tr>
</table>