<table>
<tr><td span=2>{{ time }}</td></tr>
<tr><td>Temperature:</td><td>{{ temp }}&deg;C</td></tr>
<tr><td>Humidity:</td><td>{{ humi }}%</td></tr>
<tr><td>Pressure:</td><td>{{ pres }}&nbsp;mBar</td></tr>
<tr><td>Light:</td><td>{{ lux }} lux</td></tr>
<tr><td>Oxidising:</td><td>{{ oxi }}&nbsp;k&Omega;</td></tr>
<tr><td>Reducing:</td><td>{{ red }}&nbsp;k&Omega;</td></tr>
<tr><td>NH<sub>3</sub>:</td><td>{{ nh3 }}&nbsp;k&Omega;</td></tr>
<tr><td>&gt;0.3um:</td><td>{{ pm03 }}&nbsp;/&nbsp;0.1l</td></tr>
<tr><td>&gt;0.5um:</td><td>{{ pm05 }}&nbsp;/&nbsp;0.1l</td></tr>
<tr><td>&gt;1.0um:</td><td>{{ pm10 }}&nbsp;/&nbsp;0.1l</td></tr>
<tr><td>&gt;2.5um:</td><td>{{ pm25 }}&nbsp;/&nbsp;0.1l</td></tr>
<tr><td>&gt;5.0um:</td><td>{{ pm50 }}&nbsp;/&nbsp;0.1l</td></tr>
<tr><td>&gt;10.0um:</td><td>{{ pm100 }}&nbsp;/&nbsp;0.1l</td></tr>
</table>

